*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	font-family: "微软雅黑";
	cursor: default;
}
.clearselect{
	-moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.clearfix:after{
	content: " ";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	zoom: 1; 
}